* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
    font-size: 3em;
}

section {
    flex: 70px;
    background-color: khaki;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

@media screen and (max-width: 700px) {

    nav,
    .row {
        flex-direction: column;
    }
}